VITE_SUPABASE_URL=https://kkvmtqthahbcobsqmugl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtrdm10cXRoYWhiY29ic3FtdWdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg3MDM0MDUsImV4cCI6MjA4NDI3OTQwNX0.cYc8Qx8bpZFoxZ6RR-kgrE12l-4wDQx2MGcWBPvd24g
VITE_GEMINI_API_KEY=AQ.Ab8RN6KZavLBRPGoBRLXk8ZgjLlH21WsF93dEynVeoqIQjzGEw